body {
  background: #fff;
}

i {
  font-style: normal;
}

b {
  font-weight: normal;
}

.enterChoose {
  margin-top: 19px;
  margin-bottom: 29px;
}

.plist {
  border-bottom: 1px solid #DBDBDB;
}

.plist dl {
  border: 1px solid #DBDBDB;
  padding: 29px 30px 30px 20px;
  border-bottom: 1px solid #fff;
  transition:All 0.3s ease-in-out;
	-webkit-transition:All 0.3s ease-in-out;
	-moz-transition:All 0.3s ease-in-out;
	-o-transition:All 0.3s ease-in-out;
}

.plist dl dt, .plist dl dd {
  float: left;
  height: 98px;
}

.plist dl dt {
  padding-right: 22px;
}

.plist dl dt img {
  width: 98px;
  height: 98px;
}

.plist dl .d-1 h3, .plist dl .d-1 p {
  width: 508px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.plist dl .d-1 h3 {
  font-weight: bold;
  font-size: 14px;
}

.plist dl .d-1 h3 div {
  float: left;
  line-height: 24px;
  font-size: 16px;
  font-weight: normal;
}

.plist dl .d-1 h3 .div-2 {
  padding-left: 24px;
}

.plist dl .d-1 h3 .div-2 span {
  margin-right: 8px;
  display: inline-block;
  line-height: 24px;
  padding: 0 10px;
  background: #E0F0FF;
  font-size: 12px;
  color: #3399ff;
  font-weight: normal;
  border-radius: 12px;
  max-width: 100px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.plist dl .d-1 p {
  color: #999;
}

.plist dl .d-1 .p-1 {
  padding: 18px 0 18px 0;
  color: #333;
}

.plist dl .d-2 {
  width: 133px;
  text-align: center;
  color: #ff9933;
}

.plist dl .d-3 {
  width: 308px;
  padding: 0 88px 0 119px;
}

.plist dl .d-3 .p-1 {
  color: #666;
  padding-bottom: 26px;
}

.plist dl .d-3 .p-1 span {
  color: #333;
}

.plist dl .d-3 .p-1 i {
  padding: 0 6px;
}

.plist dl .d-3 .p-1 b {
  cursor: pointer;
}

.plist dl .d-3 .p-1 b:hover {
  transition: .3s;
  color: #3399ff;
}

.plist dl .d-3 .p-2 span {
  color: #fa0101;
  margin: 5px;
}

.plist dl .d-4 {
  color: #666;
}

.plist dl:hover {
  transition: .3s;
  border: 1px solid rgba(51, 153, 255, 0.78);
  box-shadow: 0 0px 12px -1px rgba(51, 153, 255, 0.78);
  -webkit-box-shadow: 0 0px 12px -1px rgba(51, 153, 255, 0.78);
  -moz-box-shadow: 0 0px 12px -1px rgba(51, 153, 255, 0.78);
  cursor: pointer;
  transform:scale(1.01);
	-webkit-transform:scale(1.01);
	-moz-transform:scale(1.01);
	-o-transform:scale(1.01);
	-ms-transform:scale(1.01);
}

.plist dl:hover .d-1 h3 div {
  transition: .3s;
  color: #3399ff;
}
