body {
  background: #fff;
}

i {
  font-style: normal;
}

b {
  font-weight: normal;
}

.navbread {
  height: 72px;
  line-height: 72px;
}

.z-main .result .res {
  box-shadow: 0 4px 9px #D4E9FF;
  margin-bottom: 39px;
  border-radius: 5px;
}

.z-main .result .res .res-message {
  width: 415px;
  margin: 0 auto;
  padding: 37px 0 80px 0;
}

.z-main .result .res .res-message .li-1 {
  width: 207px;
  margin: 0 auto;
  position:relative;
}

.z-main .result .res .res-message .li-1 img {
  margin-left: 65px;
}

.z-main .result .res .res-message .li-1 .img-box {
  width: 150px;
  height: 85px;
}

.z-main .result .res .res-message .li-1 .jieguo-1 {
  background: url(../../img/jieguo.png) no-repeat 0 0;
}

.z-main .result .res .res-message .li-1 .jieguo-2 {
  background: url(../../img/jieguo.png) no-repeat 0 -109px;
}

.z-main .result .res .res-message .li-1 .jieguo-3 {
  background: url(../../img/jieguo.png) no-repeat 0 -215px;
}

.z-main .result .res .res-message .li-1 span {
  font-size: 36px;
  color: #ff941a;
  position: absolute;
  top: 40px;
  left:150px;
  white-space: nowrap;
}

.z-main .result .res .res-message .li-1 span i {
  font-size: 14px;
  font-weight: normal;
}

.z-main .result .res .res-message .li-2 {
  font-size: 16px;
  padding: 23px 0 17px 0;
  text-align: center;
  white-space: nowrap;
}

.z-main .result .res .res-message .li-2 b {
  font-weight: bold;
  font-size: 24px;
  color: #3399ff;
}

.z-main .result .res .res-message .li-3 {
  color: #999;
  font-size: 14px;
  text-align: center;
}

.z-main .result .res .res-message .li-3 span {
  margin: 0 5px;
  color: #f42d2d;
}

.z-main .result .res .res-message .li-4 {
  text-align: center;
}

.z-main .result .res .res-message .li-4 a {
  color: #3399ff;
}

.z-main .result .recommend h3 {
  line-height: 57px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.z-main .result .recommend .list {
  padding-bottom: 30px;
}

.z-main .result .recommend .list dl {
  width: 586px;
  height: 138px;
  border: 1px solid #fff;
  line-height: 1;
  float: left;
  margin: 0 7px;
  margin-bottom: 11px;
}

.z-main .result .recommend .list dl dt img {
  width: 210px;
  height: 118px;
  margin: 9px 33px 0 9px;
}

.z-main .result .recommend .list dl dd {
  width: 332px;
}

.z-main .result .recommend .list dl dd .p-1 {
  padding: 26px 0 19px 0;
  font-size: 16px;
}

.z-main .result .recommend .list dl dd .d-1 {
  padding-right: 43px;
}

.z-main .result .recommend .list dl dd .d-1 p {
  color: #999;
}

.z-main .result .recommend .list dl dd .d-1 i {
  color: #FBC639;
  float: right;
  margin-left: 5px;
  position: relative;
  top: -1px;
}

.z-main .result .recommend .list dl dd .d-1 .p-2 {
  color: #999;
  font-size: 14px;
}

.z-main .result .recommend .list dl dd .d-1 .p-2 span {
  margin: 5px;
  color: #333;
}

.z-main .result .recommend .list dl dd .p-3 {
  font-size: 18px;
  color: #fc702a;
  padding-top: 20px;
}

.z-main .result .recommend .list dl:hover {
  transition: .3s;
  border: 1px solid #CFDDEC;
  box-shadow: 1px 3px 5px #DAEDFF;
  cursor: pointer;
}
