i {
  font-style: normal;
}

b {
  font-weight: normal;
}

u {
  text-decoration: none;
}

.user-set {
  margin-top: 35px;
}

.user-set h3 {
  font-size: 16px;
  line-height: 35px;
}

.user-set .content {
  padding-top: 15px;
  padding-bottom: 10px;
  background: #F6F6F6;
  border-top: 2px solid #DDDDDD;
  position: relative;
}

.user-set .content a.edit{
	display: block;
	color: #47a2ff;
	position: absolute;
	right: 13px;
	top: 26px;
}

.user-set .content p {
  margin-bottom: 19px;
}

.user-set .content p label .op-name {
  float: left;
  padding-right: 23px;
  width: 115px;
  text-align: right;
  height: 34px;
  line-height: 34px;
}

.user-set .content p label input {
  width: 278px;
}

.user-set .content p label .layui-form-select {
  float: left;
}

.user-set .content p label b {
  line-height: 34px;
  height: 34px;
  color: #666;
  width: 278px;
}
