.virtual{
	position: relative;
	/*background: #2470a5;*/
	width: 100%;
	height: 100%;
}

.virtualCont{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
}

.virtualMenu{
	position: fixed;
	width: 140px;
	right: 0;
	top: 0;
	bottom: 0;
	background: url(../../img/virComputer.png) no-repeat rgba(52,77,91,.95);
	background-position: center 95%;
	transition: all .3s linear;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-o-transition: all .3s linear;
	z-index: 10;
}

.virtualMenu_on{
	right: -140px !important;
}

.virtual_top{
	margin: 0 20px;
	padding: 20px 0;
	border-bottom: solid 1px #283841;
}

.virtual_top a{
	display: block;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
	height: 28px;
	line-height: 28px;
	color: #fff !important;
	background: #fa0101;
	text-align: center;
}

.virtualList{
	padding: 10px 0;
}

.virtualList li{
	padding: 6px 0;
	position: relative;
}

.virtualList li a.num{
	display: block;
	color: #fff;
	font-size: 12px;
	padding-left: 30px;
	height: 36px;
	line-height: 36px;
	transition: all .3s linear;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-o-transition: all .3s linear;
}

.virtualList li a.num:hover{
	background: #3a4951;
	color: #3399ff;
}

.virtualList li a.num i.fa{
	margin-right: 8px;
}

.virtualPop{
	background: #f6f6f6;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 36px;
	position: absolute;
	right: 148px;
	top: 8px;
	min-width: 455px;
	display: none;
}

.virtualHidden{
	padding: 8px;
	background: #3b484e;
	color: #fff;
	font-size: 12px;
	display: block;
	position: absolute;
	right: 140px;
	top: 69px;
}

.virtualIcon{
	height: 36px;
	width: 8px;
	background: url(../../img/virRight.png) no-repeat center;
	position: absolute;
	right: -8px;
	top: 0;
}

.virtualPop .layui-input-block{
	margin-left: 80px;
}

.virtualPop_btn{
	text-align: center;
}

.virtual_time{
	color: #fff;
	padding-top: 50px;
	text-align: center;
	font-size: 30px;
}
